<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" class="scroll-smooth">
<head>
  {{ block "title" . }}
    {{- $title := "" -}}
    {{- $siteTitle := $.Site.Title -}}
    {{- $subtitle := $.Site.Params.Subtitle -}}
    {{- $mainTitle := $siteTitle -}}
    {{- if $subtitle -}}
      {{- $mainTitle = printf "%s - %s" $siteTitle $subtitle -}}
    {{- end -}}

    {{- if .IsHome -}}
      {{- $title = $mainTitle -}}
    {{- else -}}
      {{- $title = printf "%s :: %s" .Title $mainTitle -}}
    {{- end -}}
    <title>{{- $title -}}</title>
  {{ end }}
  {{ partial "head.html" . }}
  {{ partial "fonts.html" . }}
  {{ block "head" . }}{{ end }}

  <a title="GDPR-compliant Web Analytics" href="https://clicky.com/66440439"><img alt="Clicky" src="https://static.getclicky.com/media/links/badge.gif" border="0" /></a>

  <script async data-id="66440439" src="//static.getclicky.com/js"></script>
</head>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const images = document.querySelectorAll('.fade-in-on-scroll')
    const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.remove('opacity-0', 'translate-x-10', '-translate-x-10')
          entry.target.classList.add('opacity-100', 'translate-x-0')
          observer.unobserve(entry.target) // Only animate once
        }
      })
    }, { threshold: 0.1 })

    images.forEach(img => {
      observer.observe(img)
    })
  })
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggleBtn = document.getElementById('mobile-menu-toggle')
    const closeBtn = document.getElementById('mobile-menu-close')
    const mobileMenu = document.getElementById('mobile-menu')

    toggleBtn?.addEventListener('click', () => {
      mobileMenu.classList.remove('hidden')
      void mobileMenu.offsetWidth
      mobileMenu.classList.remove('translate-x-full')
      mobileMenu.classList.add('translate-x-0')
    })

    closeBtn?.addEventListener('click', () => {
      mobileMenu.classList.remove('translate-x-0')
      void mobileMenu.offsetWidth
      mobileMenu.classList.add('translate-x-full')

      const onTransitionEnd = () => {
        mobileMenu.classList.add('hidden')
        mobileMenu.removeEventListener('transitionend', onTransitionEnd)
      }

      mobileMenu.addEventListener('transitionend', onTransitionEnd)
    })

    // Close on link click
    const menuLinks = mobileMenu.querySelectorAll('a[href^="#"]')
    menuLinks.forEach(link => {
      link.addEventListener('click', () => {
        mobileMenu.classList.remove('translate-x-0')
        void mobileMenu.offsetWidth
        mobileMenu.classList.add('translate-x-full')

        const onTransitionEnd = () => {
          mobileMenu.classList.add('hidden')
          mobileMenu.removeEventListener('transitionend', onTransitionEnd)
        }

        mobileMenu.addEventListener('transitionend', onTransitionEnd)
      })
    })
  })
</script>
<body class="flex flex-col min-h-screen w-full bg-slate-50 dark:bg-neutral-900">
  {{- if hugo.IsDevelopment }}
    {{ partial "tailwind-size-indicator.html" }}
  {{ end -}}
  <header class="flex flex-none justify-center z-10 {{- if $.Site.Params.header.sticky }} bg-slate-50 dark:bg-black sticky top-0{{ end -}}">
    {{ partial "header.html" . }}
  </header>
  <main class="{{ if .IsHome }}
              flex flex-col flex-auto items-stretch
            {{ else }}
              flex flex-auto justify-center
            {{ end }}">
    {{ block "main" . }}{{ end }}
  </main>

  <footer class="flex flex-none justify-center">
    {{ partial "footer.html" . }}
  </footer>
  {{ partial "extended_footer.html" . }}
</body>
</html>
